@charset "UTF-8";

#cont1 {
    border: 1px solid black;
    padding: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#cont2 {
    border: 5px dashed blueviolet;
    margin-top: 20px;
    margin-right: 30px;
}