@charset "UTF-8";

body {
    background: linear-gradient(to bottom, #151D31, #1B2A41, #243955) fixed;
    font-family: Arial, Helvetica, sans-serif;
}

#conteiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    border-radius: 10px;
    background-color: #0b1222;
    box-shadow: 0px 15px 25px 8px #0b122283;
    box-sizing: border-box;
}

h3 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    letter-spacing: 2px;
}

form {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

label {
    color: #03e9f4;
    letter-spacing: 2px;
    font-size: 0.7em;
}

input[type=text], input[type=password] {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    outline: none;
}

input[type=submit] {
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    color: #03e9f4;
    background-color: #0b1222;
    letter-spacing: 2px;
    border: 1px solid #03e9f4;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #03e9f4;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 3px #03e9f4;
    overflow: visible;
}

::selection {
    background-color: #03e9f4;
}