@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dela Gothic One';
    background-color: #E7A7F5;
    font-weight: lighter;
}

#principal {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 600px;
}

.head {
    background: #8500A6 url('imagens/cabecalho.jpg') no-repeat center;
    height: 300px;
    text-align: center;
    line-height: 300px;
    color: rgb(255, 255, 255);
}

.conteudo {
    width: 75%;
    float: right;
}

.navegacao {
    text-align: center;
    width: 25%;
    float: left;
    padding: 10px 0;
    background: #f52578d0;
}

.meio {
    width: 63%;
    float: left;
    text-align: justify;
}

.meio img {
    width: 96%;
    padding: 2%;
}

.lateral {
    width: 34%;
    float: right;
    text-align: justify;
    background-color: #b09aff;
}

.meio h2 {
    color: #8500A6;
}

.lateral h4 {
    color: blue;
}

.navegacao ul {
    list-style-type: none;
}


li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    display: block;
}

li a:hover {
    background-color: #fc97bfd0;
}

footer {
    font-weight: bold;
    width: 85%;
    clear: both;
    margin: auto;
    text-align: center;
    line-height: 50px;
    background: #C500F5;
}

h2, h3, h4 , ul {
    padding: 10px 5px 5px 5px;
}

p {
    text-indent: 20px;
    padding: 0 5px;
}

