<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <h1>My Website</h1>
        <p>Resize the browser window to see the responsive effect!</p>
    </header>

    <div class="menu">
        <ul>
            <li ><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Images</a></li>
            <li><a href="">Links</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>

    <main>
        <div class="left-column">
            <div class="card">
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fake-img" style="height: 200px;">Image</div>
                <p>Some text... Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et tempore laboriosam dolor, iure, ullam quos quia quas fugiat, id ipsam in voluptatem iusto incidunt corrupti repellendus! Distinctio, amet architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sequi commodi omnis mollitia aliquam. Iure iusto error debitis voluptatum labore ipsam sunt saepe nulla officia quos. Aspernatur, facere esse. Atque.</p>
            </div>
            
            <div class="card">
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fake-img" style="height: 200px;">Image</div>
                <p>Some text... Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et tempore laboriosam dolor, iure, ullam quos quia quas fugiat, id ipsam in voluptatem iusto incidunt corrupti repellendus! Distinctio, amet architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sequi commodi omnis mollitia aliquam. Iure iusto error debitis voluptatum labore ipsam sunt saepe nulla officia quos. Aspernatur, facere esse. Atque.</p>
            </div>
        </div>

        <div class="rigth-column">

            <div class="card">
                <h2>About me</h2>
                <div class="fake-img img">Image</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, incidunt expedita, maiores saepe aut odit ipsum aperiam praesentium.</p>
            </div>

            <div class="card">
                <h2>Popular Post</h2>
                <div class="fake-img img">Image</div>
                <div class="fake-img img">Image</div>
                <div class="fake-img img">Image</div>
            </div>

            <div class="card">
                <h2>Follow me</h2>
                <a href="">Facebook</a> <br>
                <a href="">Instagram</a>
            </div>

        </div>
    </main>

    <footer>
        <h2>Footer</h2>
    </footer>

</body>
</html>