@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 600px;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

h2 {
    text-align: center;
}

th {
    background-color: black;
    color: white;
    letter-spacing: 0.1em;
}

tr:hover {
    background: rgb(207, 207, 207);
    font-weight: bold;
}

.direita {
    text-align: right;
}

.centro {
    text-align: center;
}